
div {
    border-width: 1px;
}

hr {
    border-color: black;
}

.topbar h1 {
    margin: 0px;
}

.topbar {
    background: #EEEEEE;
    border-bottom: solid 1px;
    padding: 30px;
}

.topbar small {
    color: #777777;
}

button {
    background: #FFB464;
}

#dinnerView {
    padding: 0px;
}

.recipe-row h2, .recipe-row h3 {
    margin-top: 0px;
}

.recipe-row {
    padding-top: 60px;
    min-height: 220px;
}

.navigation-bar {
    background: #F9E696;
    width: 100%;
    border-bottom: solid 1px;
    margin: 0px;
    padding: 0px 20px 10px 50px;
}

#mainView {
    padding: 0px;
}

#sidebarView {
    border-right: solid 1px;
    height: 1400px;
}
.list-separator {
    background: #EEEEEE;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.sidebar {
    width: 100%;
}

.search-bar {
    background-color: #F9E696;
    padding: 20px 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: solid 1px;
}

.browse {
    margin-left: 40px;
    margin-top: 80px;
}

.browse-dish {
    border-style: solid;
    border-radius: 5px;
    margin-left: -15px;
    height: 340px;
    margin-bottom: 15px;
    overflow: hidden;
}

.browse-dish img {
    width: 100%;
    max-height: 100%;
}

.image-container {
    height: 195px;
}

.browse-dish h4, .browse-dish p {
    padding-left: 5px;
    padding-right: 5px;
}

.ingredients {
    background-color: #FFF59D;
    padding-bottom: 15px;
    border-left: solid 1px;
    border-bottom: solid 1px;
}
