
div {
    border-width: 1px;
}

hr {
    border-color: black;
}

.topbar h1 {
    margin: 0px;
}

.topbar {
    background: #EEEEEE;
    border-bottom: solid 1px;
    padding: 30px;
}

.topbar small {
    color: #777777;
}

#mainView {
    padding: 0px;
}

#sidebarView {
    border-right: solid 1px;
    height: 1400px;
}

.sidebar {
    position: fixed;
}

.search-bar {
    background-color: #FFF59D;
    padding: 20px 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: solid 1px;
}

.browse {
    margin-left: 40px;
    margin-top: 80px;
}

.browse-dish {
    border-style: solid;
    border-radius: 5px;
    margin-left: -15px;
    margin-bottom: 15px;
}

.browse-dish img {
    width: 100%;
    max-height: 100%;
}

.browse-dish p {
    height: 100px;
    overflow: hidden;
}

.image-container {
    height: 195px;
}

.browse-dish h4, .browse-dish p {
    padding-left: 10px;
    padding-right: 10px;
}

.ingredients {
    background-color: #FFF59D;
    padding-bottom: 15px;
    border-left: solid 1px;
    border-bottom: solid 1px;
}

.total-price {
    border-left: solid 1px;
}

.dinner-dish {
    border: solid 1px;

}
